



<%= form_for(@user) do |f|  %>
<%= javascript_include_tag 'jquery-1.5.2.js', 'jquery.validate.js', 'application' %>

<script type="text/javascript">

	$(document).ready(function () {
	$("#edit_user_<%= @user.id %>").validate({
	rules: {
	"user[username]": {required: true},
	"user[firstname]": {required: true},
	"user[lastname]": {required: true},
	"user[email]": {required: true, email: true},

	}
	});
	});


</script>


<div class="actions">

	
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="6">

    <td colspan="4"><h2>Edit User</h2></td>
    </tr>
    <tr>
    <td align="right"class="brown_txt_m"><strong><span class="redstar">*</span> user name</strong></td>
    <td>:</td>
    <td colspan="2" align="left"><%= f.text_field :username, :class=>'textfield_d' ,:disabled => true %></td>
    </tr>
  <tr>
    <td width="22%" align="right" valign="middle" class="brown_txt_m"><strong><span class="redstar">*</span> first name</strong></td>
    <td width="2%">:</td>
    <td colspan="2" align="left"><%= f.text_field :firstname, :class=>'textfield_b' %></td>
    </tr>
  <tr>
    <td align="right"class="brown_txt_m"><strong><span class="redstar">*</span> last name</strong></td>
    <td>:</td>
    <td colspan="2" align="left"><%= f.text_field :lastname, :class=>'textfield_b' %></td>
    </tr>
  <tr>
    <td align="right"class="brown_txt_m"><strong><span class="redstar">*</span> email</strong></td>
    <td>:</td>
    <td colspan="2" align="left"><%= f.text_field :email, :class=>'textfield_b' %></td>
    </tr>
  
  
  
  <tr>
    <td align="right" class="brown_txt_m"><strong><span class="redstar">*</span> role</strong></td>
    <td>:</td>
    <td align="left">
    
    <%= f.select :role,options_for_select([['Administrator', 'Administrator'], ['Onboarder','Onboarder']],@user.role) %>   
    </tr>
   
  <tr>
    <td align="right" class="brown_txt_m"><strong><span class="redstar">*</span> status</strong></td>
    <td>:</td>
    
    <td align="left"><%= f.select :status,options_for_select([['active', 'active'], ['inactive','inactive']],@user.status) %>
    </td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="2" align="left"> <a class="squarebutton" href="/users" style="margin-left:6px;"  ><span>cancel</span></a> 
    <%= f.submit %>
    </td>

    </tr>
    
</table>    
<% end %>
